@font-face {
  font-family: comiccomoc;
  src: url(fonts/comiccomoc.ttf)
}

@font-face {
  font-family: PinkChicken;
  src: url(fonts/PinkChicken-Regular.ttf)
}

@font-face {
  font-family: HappyChicken;
  src: url(fonts/happy_chicken/HappyChicken.ttf);
}

/* colors
  light B1ue: #B9E2F0
  Baby B1ue: #8ED1EF
  Maya B1ue: #62BFED
  B1ue Pantone: #3423A6

  Muave: #D5AFF1
  Amethyst: #AB69DB
  B1ue Vi0let: #7E2EED

  P1nk: #F6BCC7
*/



* {

}

/*





ALL PAGES





*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

body {
  background-image: url(photos/pile.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue {
  background: #B9E2F0;
}

h1 {
  font-family: comiccomoc;
  font-size: 60px;
  color: #7E2EED;
  margin: 0;
}

h2 {
  font-family: comiccomoc;
  font-size: 40px;
  color: #7E2EED;
  margin: 0;
}

p {
  font-family: PinkChicken;
  font-size: 20px;
  color: #3423A6;
  margin: 0;
}

ul, li {
  margin: 0;
}

/*





NAV BAR





*/

nav {
  background: #B9E2F0;
  box-shadow: 0 4px 12px -8px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index:999;
}

nav h1 {
  color: #7E2EED;
  padding-left: 240px;
  margin: 16px 0;
  float: left;
}

nav .nav-buttons {
  float: right;
  padding-right: 240px;
  display: inline;
  position: relative;
}

nav a {
  font-family: PinkChicken;
  font-size: 20px;
  text-align: center;
  color: #3423A6;
  border: solid 1px #62BFED;
  text-decoration: none;
  display: inline-block;
  min-width: 100px;
  padding: 32px 8px;
  margin: 6px 0;
  transition: ease-in-out .2s;
}

nav a:hover {
  color: #B9E2F0;
  background-color: #62BFED;
}

.active {
  text-decoration: underline;
}

/*





 HOME PAGE





 */

.decoration {
  border: dotted 12px white;
  padding: 20px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 220px 0 40px 0;
}

.content p {
  font-family: PinkChicken;
  font-size: 20px;
  background: #B9E2F0;
  border: solid 1px #62BFED;
  width: 620px;
  text-align: justify;
  padding: 60px 100px;
}

.content img {
  border: solid 2px white;
  margin: 0 0 12px 24px
}

/*





CATALOGUE PAGE





 */

.catalogue {
  padding: 40px 0;
  position: relative;
  top: 80px;
  width: 100%;
}

.catalogue h2, .catalogue p {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 12px 0;
}

.catalogue h2 {
  color: #7E2EED;
}

.catalogue p {
  color: #3423A6;
  padding: 0 400px 40px 400px;
}

table {
  display: flex;
  justify-content: center;
  border: hidden !important;
  border-collapse: collapse !important;
}

table img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

th, td {
  border: solid 1px #62BFED;
  border-collapse: collapse;
  padding: 16px;
}

tr {
  border-right: hidden;
  border-left: hidden;
}

.header-row {
  border-top: hidden;
}

.bottom-row {
  border-bottom: hidden;
}

th {
  font-family: HappyChicken;
  color: #3423A6;
}

td {
  font-family: PinkChicken;
  font-size: 20px;
  color: #3423A6;
  width: 140px;
  text-align: center;
}

.description {
  width: 400px;
}

.highlight {
  transition: ease-in-out .2s;
}

.highlight:hover {
  background-color: #8ED1EF;
}

[data-href] {
  cursor: pointer;
}

/*





WISHLIST PAGE





 */

.wishlist {
  padding: 40px 0;
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}

/*





BIOGRAPHY PAGE





*/

.biography {
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.biography-container {
  display: block;
  width: 50%;
}

.biography img {
  float: left;
  height: 400px;
  width: 400px;
  margin: 0 80px 80px 0;
}

.biography-content h2{
  margin: 0 0 12px 0;
}

.biography-container p a {
  text-decoration: none;
  display: block;
  margin: 40px 0;
  transition: ease-in-out .2s;
}

.biography-container p a:hover span {
  text-decoration: underline;
}

.biography-content ul {
  list-style: inside;
}

.biography-content li {
  font-family: PinkChicken;
  font-size: 24px;
  color: #3423A6;
  margin: 0;
}

.biography-content li span {
  font-family: HappyChicken;
  font-size: 20px;
}
