@font-face {
  font-family: comiccomoc;
  src: url(fonts/comiccomoc.ttf)
}

@font-face {
  font-family: PinkChicken;
  src: url(fonts/PinkChicken-Regular.ttf)
}

@font-face {
  font-family: HappyChicken;
  src: url(fonts/happy_chicken/HappyChicken.ttf);
}

/* colors
  light blue: #B9E2F0
  Maya blue: #62BFED
  Blue Pantone: #3423A6

  Muave: #D5AFF1
  Amethyst: #AB69DB
  Blue Violet: #7E2EED

  pink: #F6BCC7
*/

* {

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

body {
  background-image: url(photos/pile.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue {
  background: #B9E2F0;
}

h1 {
  font-family: comiccomoc;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-family: comiccomoc;
  font-size: 40px;
  margin: 0;
}

p {
  font-family: PinkChicken;
  font-size: 20px;
}

/*  NAV BAR */

nav {
  background: #B9E2F0;
  box-shadow: 0 4px 12px -8px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index:999;
}

nav h1 {
  color: #7E2EED;
  padding-left: 240px;
  margin: 16px 0;
  float: left;
}

nav .nav-buttons {
  float: right;
  padding-right: 240px;
  display: inline;
  position: relative;
}

nav a {
  font-family: PinkChicken;
  font-size: 20px;
  text-align: center;
  color: #3423A6;
  border: solid 1px #62BFED;
  text-decoration: none;
  display: inline-block;
  min-width: 100px;
  padding: 32px 8px;
  margin: 6px 0;
  transition: ease-in-out .2s;
}

nav a:hover {
  color: #B9E2F0;
  background-color: #62BFED;
}

.active {
  text-decoration: underline;
}

/*  HOME PAGE */

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 260px 0 40px 0;
}

.content p {
  font-family: PinkChicken;
  font-size: 20px;
  color: #3423A6;
  background: #B9E2F0;
  border: dotted 4px white;
  width: 620px;
  text-align: justify;
  padding: 60px 120px 60px 120px;
}

.content img {
  padding: 0 0 12px 24px
}

/*  CATALOGUE PAGE  */

.catalogue {
  padding: 40px 0;
  position: relative;
  top: 100px;
  width: 100%;
}

.catalogue h2, .catalogue p {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 12px 0;
}

.catalogue h2 {
  color: #7E2EED;
}

.catalogue p {
  color: #3423A6;
  padding: 0 0 40px 0;
}

table {
  display: flex;
  justify-content: center;
  border: hidden !important;
  border-collapse: collapse !important;
}

table img {
  background-color: white;
  border: 2px white solid;
  object-fit: contain;
}

th, td {
  border: 2px solid #62BFED;
  border-collapse: collapse;
  padding: 16px 16px
}

tr {
  border-right: hidden;
  border-left: hidden;
}

.header-row {
  border-top: hidden;
}

.bottom-row {
  border-bottom: hidden;
}

th {
  font-family: HappyChicken;
  color: #3423A6;
}

td {
  font-family: PinkChicken;
  font-size: 20px;
  color: #3423A6;
  max-width: 600px;
  text-align: center;
}

.highlight {
  transition: ease-in-out .2s;
}

.highlight:hover {
  background-color: white;
}

/* WISHLIST PAGE */

.wishlist {
  padding: 40px 0;
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}

/*.catalogue ul {
  list-style: none;

}

.catalogue li {
  color: blue;
  display: flex;
  padding: 0 0 8px 0;
}

.catalogue a {
  font-family: PinkChicken;
  font-size: 40px;
  color: #AB69DB;
  text-decoration: none;
  text-align: left;
  background-color: #F6BCC7;
  border: outset 4px white;
  padding: 10px 360px 10px 360px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: ease-in-out .2s;
}

.catalogue a:hover {
  background-color: #D5AFF1;
  color: white;
}
*/
