@font-face {
  font-family: RetroComputer;
  src: url('fonts/retro_computer_personal_use.ttf');
}

@font-face {
  font-family: OffsettRegular;
  src: url('fonts/offsett/OffsettRegular.ttf');
}

@font-face {
  font-family: radiospacebitmap;
  src: url('fonts/radio-space-bitmap/radiospacebitmap.woff2') format('woff2'), url('fonts/radio-space-bitmap/radiospacebitmapp.woff') format('woff');
  font-weight: normal;
  font-syle: normal;
}

*{
  background-color: black;
}

/*





MAIN STUFF





*/

body {
  margin: 0;
}

h1 {
  color: #33FF00;
  font-family: radiospacebitmap;
  font-size: 48px;
}

p {
  color: #33FF00;
  font-family: RetroComputer;
  font-size: 20px;
}

li {
  color: #33FF00;
  font-family: RetroComputer;
  font-size: 16px;
}

a {
  color: #33FF00;
}

details summary {
  color: #33FF00;
  font-family: RetroComputer;
  font-size: 16px;
}

/*





INDIVIDUAL CSS





*/

.container {
  width: 100vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 24vh;
}

h1, p {
  text-align: center;
}

.list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
}

li, summary {
  list-style: none;
}

.main-list-item {
  width: 200px;
}

span .bullet-point {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover .underline, summary:hover .underline {
  text-decoration: underline;
}

summary:hover {
  cursor: pointer;
}

a:hover, summary:hover {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    color: #33FF00;
  }
  50% {
    color: black;
  }
  100% {
    color: #33FF00;
  }
}

.main-list-item, summary {
  margin-bottom: 12px;
}

.sub-list {
  margin-left: 16px;
}

.sub-list-item {
  font-size: 14px;
  /* margin-bottom: 4px; */
}
