@font-face {
  font-family: RetroComputer;
  src: url('fonts/retro_computer_personal_use.ttf');
}

@font-face {
  font-family: OffsettRegular;
  src: url('fonts/offsett/OffsettRegular.ttf');
}

@font-face {
  font-family: radiospacebitmap;
  src: url('fonts/radio-space-bitmap/radiospacebitmap.woff2') format('woff2'), url('fonts/radio-space-bitmap/radiospacebitmapp.woff') format('woff');
  font-weight: normal;
  font-syle: normal;
}

*{
  background-color: black;
  color: #33FF00;
}

h1 {
  font-family: radiospacebitmap;
}

p, ul {
  font-family: RetroComputer;
}
