@font-face {
  font-family: RetroComputer;
  src: url('fonts/retro_computer_personal_use.ttf');
}

@font-face {
  font-family: OffsettRegular;
  src: url('fonts/offsett/OffsettRegular.ttf');
}

@font-face {
  font-family: radiospacebitmap;
  src: url('fonts/radio-space-bitmap/radiospacebitmap.woff2') format('woff2'), url('fonts/radio-space-bitmap/radiospacebitmapp.woff') format('woff');
  font-weight: normal;
  font-syle: normal;
}

*{
  background-color: black;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 12vh;
}

h1 {
  color: #33FF00;
  font-family: radiospacebitmap;
  font-size: 48px;
}

p, ul {
  font-family: RetroComputer;
}

p {
  color: #33FF00;
  text-align: center;
  font-size: 20px;
}

li {
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 10px;
}

span .bullet-point {
  text-decoration: none;
}

a {
  color: #33FF00;
  font-size: 16px;
  text-decoration: none;
}

a .underline {
  text-decoration: none;
}

li:hover .underline {
  text-decoration: underline;
}

a:hover {
  animation: blink 1s ease-in-out alternate infinite;
}


@keyframes blink {
  0% {
    color: #33FF00;
  }
  50% {
    color: #33FF00;
  }
  100% {
    color: black;
  }
}
