@font-face {
  font-family: PinkChicken;
  src: url(../../passion-site/fonts/PinkChicken-Regular.ttf)
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.kitchen-wall {
  background: tan;
  width: 100vw;
  height: 100vh;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sizing {
width: 80vw;
height: 70vw;
min-width: 400px;
min-height: 350px;
max-width: 1100px;
}

#cabinet-sections{
  background: rgb(31, 19, 7);
  height: 35%;
  display: flex;
  justify-content: space-evenly;
  gap: .2%;
}

#section-above-fridge {
  background: rgb(31, 19, 7);
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cabinet-section-above-fridge {
  background: rgb(31, 19, 7);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .52%;
}

.cabinet-frame-above-fridge, .cabinet-frame {
  background: rgb(47, 32, 20);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet-doors-above-fridge {
  background: rgb(80, 52, 29);
  width: 88%;
  height: 80%;
}

.cabinet-doors {
  background: rgb(80, 52, 29);
  width: 90%;
  height: 90%;
}

.fridge-in-cabinets {
  background: rgb(19, 19, 19);
  width: 100%;
  height: 50%;
}

.bottom-row {
  height: 65%;
  display: flex;
}

.fridge {
  background: rgb(19, 19, 19);
  width: 40%;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#fridge-top {
  background: rgb(28, 28, 28);
  width: 100%;
  min-height: 83%;
  display: flex;
}

#fridge-bottom {
  background: rgb(28, 28, 28);
  width: 100%;
  min-height: 44%;
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

#logo {
  background: lightgray;
  width: 4%;
  height: 3.5%;
  border-radius: 50%;
  position: relative;
  top: 15%;
  left: 5%;
}

#white-board-and-marker {
  display: flex;
  position: relative;
  top: 20%;
  left: 32%;
  width: 50%;
  height: 30%;
}


#white-board {
  font-family: PinkChicken;
  font-size: .75vw;
  background: white;
  border: solid 8px black;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 4px;
}

#marker {
  margin-left: 2px;
  width: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#marker-cap {
  background: black;
  width: 100%;
  height: 16%;
}

#marker-pen {
  background: white;
  width: 80%;
  height: 30%;
}

#fridge-handle {
  background: rgb(60, 60, 60);
  border-radius: 8px;
  width: 4%;
  height: 90%;
  position: relative;
  top: 0%;
  left: 40%;
  align-self: center;
}

#fridge-handle-highlight {
  background: lightgray;
  border-radius: 8px;
  width: 28%;
  height: 40%;
  margin: 20%;
  float: right;
}

#freezer-handle {
  background: rgb(60, 60, 60);
  border-radius: 8px;
  width: 80%;
  height: 6%;
  position: relative;
  top: 8%;
}

#freezer-handle-highlight {
  background: lightgray;
  border-radius: 8px;
  width: 40%;
  height: 32%;
  margin: 1%;
  float: right;
}

#counter {
  background: ;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#above-counter {
  background: ;
  width: 100%;
  height: 42%;
}

#counter-top {
  background: white;
  min-width: 101%;
  height: 4%;
}

#under-counter {
  background: rgb(31, 19, 7);
  width: 100%;
  height: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5%;

}

#dishwasher {
  background: rgb(28, 28, 28);
  width: 100%;
  height: 90%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cabinet-frame-under1 {
  background: rgb(47, 32, 20);
  width: 75%;
  height: 100%;
  padding: 0 .5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cabinet-frame-under2 {
  background: rgb(47, 32, 20);
  width: 40%;
  height: 100%;
  padding: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet-doors-under {
  background: rgb(80, 52, 29);
  width: 90%;
  height: 90%;
}
